<div class="container mt-3">
    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Temas</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="../temas/flexbox.html" target="you1" aria-current="page">Flexbox</a></li>
          <li><a class="dropdown-item" href="#">Link 2</a></li>
          <li><a class="dropdown-item" href="#">Link 3</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../temas/audios.html" target="you1">Audio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../temas/integrantes.html" target="you1" >Equipo</a>
      </li>
    </ul>
  </div>
