
<div class="container-fluid">
    <div class="row">
        <div class="d-flex flex-column justify-content-between col-auto bg-white min-vh-100">
            <div class="mt-4">
                <a class="text-black text-decoration-none d-flex aling-items-center ms-4" role="button">
                    <span class="fs-5">Sidemenu</span>
                </a>
                <hr class="text-black">
                <ul class="nav nav-pills flex-column mt-2 mt-sm-0" id="menu">
                    <li class="nav-item">
                        <a href="" class="nav-link text-black" aria-current="page">
                            <i class="fa fa-gauge"></i>
                            <span class="ms-2">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#tema" data-bs-toggle="collapse" class="nav-link text-black" aria-current="page">
                            <ion-icon name="caret-forward-outline"></ion-icon>
                            <span class="ms-2">Temas</span>
                        </a>
                        <ul class="nav collapse ms-1 flex-column" id="tema" data-bs-parent="#menu">
                            <li class="nav-item">
                                <a class="nav-link text-black" href="../temas/flexbox.html" target="you1" aria-current="page">Flexbox</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" href="#">Tema 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" href="#">Tema 3</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" href="#">Tema 4</a>
                            </li>
                         </ul>
                    </li>
                    <li class="nav-item">
                        <a  href="../temas/audios.html" target="you1" data-bs-toggle="collapse" class="nav-link text-black" aria-current="page">
                            <i class="bi bi-mic"></i>
                            <span class="ms-2">Audios</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../temas/integrantes.html" target="you1" class="nav-link text-black" aria-current="page">
                            <i class="fa fa-users"></i>
                            <span class="ms-2">Equipo</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!-- 
<nav >
    <ul class="nav">
        <li><a href="https://www.youtube.com/embed/xKx15C7BDyA" target="you1">Inicio</a></li>
        <li><a href="../temas/flexbox.html" target="you1">Temas</a></li>
        <li><a href="" target="you3">Audios</a></li>
        <li><a href="../temas/integrantes.html" target="you1">Equipo</a></li>
    </ul>
</nav> -->